version: 2
updates:
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "weekly"
    labels:
      - "area/dependencies"
  - package-ecosystem: docker
    directory: "/images/installer"
    schedule:
      interval: "weekly"
    labels:
      - "area/dependencies"
  - package-ecosystem: docker
    directory: "/images/downloader"
    schedule:
      interval: "weekly"
    labels:
      - "area/dependencies"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    labels:
      - "area/dependencies"
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "daily"
    labels:
      - "area/dependencies"
    groups:
      k8s:
        patterns:
          - "k8s.io/api"
          - "k8s.io/apimachinery"
          - "k8s.io/client-go"
          - "sigs.k8s.io/controller-runtime"
      ginkgo:
        patterns:
          - "github.com/onsi/ginkgo/v2"
          - "github.com/onsi/gomega"
